@import url("./normalize.css");
@import "./fonts.css";

:root {
  --container-width: 1210px;
  --container-padding: 15px;
  --font-family: "Nunito Sans", sans-serif;
  --font-family-next: "Next", sans-serif;
  --main-color-text: #18121e;
  --yellow-color-text: #f2be22;
  --white-color-text: #fdfdfd;
  --second-text-color: #1a3e3e;
  --bg-color-section: #f3f5f4;
}

body {
  font-family: var(--font-family);
}

a {
  color: var(--white-color-text);
  text-decoration: none;
}

ul li {
  list-style: none;
}

.container {
  max-width: var(--container-width);
  padding: 0 var(--container-padding);
  margin: 0 auto;
}

.header {
  position: absolute;
  top: 0;
  z-index: 10;
  left: 0;
  width: 100%;
}

.header_content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 16px;
}

.nav-ul {
  display: flex;
  gap: 24px;
  font-weight: 600;
}

.search {
  background-image: url(./../img/header/bg.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  height: 100vh;
  width: 100vw;
  padding: 0 auto;
}

.search-inner {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-end;
  height: 100%;
  top: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
  color: var(--white-color-text);
}

.search-inner h1 {
  font-family: var(--font-family-next), sans-serif;
  font-size: 3.125rem;
  font-weight: 700;
  line-height: 75px;
  letter-spacing: 0.02em;
  text-align: left;
  max-width: 1080px;
  margin: 0, auto;
  align-self: flex-start;
  margin-bottom: 41px;
}

.search-form {
  display: flex;
  flex-flow: row wrap;
  align-items: baseline;
  gap: 24px;
  padding: 40px;
  backdrop-filter: blur(6px);
  background-color: #ffffff33;
  margin-bottom: 81px;
}

.select-container {
  display: flex;
  flex-direction: column;
}

.select-location {
  border: 1px solid #e1e3e4;
  padding: 14px 16px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.span-label {
  width: 210px;
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.5rem;
}

.span-choose {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 21px;
  padding: 8px 8px 0;
}
.select-dropdown {
  display: none;
  position: absolute;
  top: 100px;
  color: var(--white-color-text);
  background-color: var(--white-color-text);
  padding: 5px;
  z-index: 10;
  width: 250px;
}

.select-container.active .select-location img {
  transform: rotate(180deg);
}

select {
  border: none;
  background-color: transparent;
  color: var(--main-color-text);
  font-weight: 700;
  padding: 10px;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 8px;
}

.option-select {
  width: 100%;
  background-color: transparent;
  border-radius: 8px;
}

.select-dropdown span {
  display: block;
  padding: 10px;
  cursor: pointer;
  transition: background 0.3s;
}

.select-dropdown span:hover {
  background: #007bff;
  color: var(--main-color-text);
}

.btn-form {
  background-color: #fdfdfd;
  padding: 16px 36px;
  font-family: var(--font-family);
  color: var(--main-color-text);
  font-size: 1rem;
  line-height: 20px;
  font-weight: 700;
  border-radius: 4px;
  border: none;
}
